
h1 {
    font-family: "Space Mono", serif;
    font-size: 100px;
}

h2 {
    font-family: "Great Vibes", cursive;
    font-size: 80px;
}

footer {
    background-color: #aaa;
    font-size: 10px;
}





  /*font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal; 
  ---FUENTE DE DISTRIBUIDORA--- 
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  ---*/ 

  /*font-family: "Passion One", serif;
  font-weight: 400;
  font-style: normal;
  ---FUENTE DE MADEIRA---
  <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
  ---*/