/*FUENTE:
  font-family: "Funnel Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/

h2 {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

h5 {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px; 
}

p {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

footer {
    background-color: #aaa;
    font-size: 10px;
}
.staff {
    background: #efefef;
}

.mapa iframe {
    width: 100%;
    aspect-ratio: 1.1; /*proporcion de la imagen (en alto y ancho)*/
}





  