<h1>Completar el siguiente formulario y nos pondremos en contacto</h1>
<form>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text">
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text">
    </div>
    <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="text">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text">
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="Haz tu consulta y nos pondremos en contacto." id="floatingTextarea"></textarea>        
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>