/*FUENTE:
  font-family: "Funnel Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;*/

h2 {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

h5 {
    font-family: "Passion One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px; 
}

p {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    text-align: center;
    margin: auto;

}

footer {
    background-color: #aaa;
    font-size: 10px;
    text-align: center;
}

.card img {
    margin-right: 50px;
    margin-bottom: 10px;
    margin-left: 50px;    
}


.staff {
    background: #efefef;
}

.mapa iframe {
    width: 100%;
    aspect-ratio: 1.1; /*proporcion de la imagen (en alto y ancho)*/
}

.banner-sup p {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    margin: auto;
    color: white;
    background-color: black;            
}





  